/* div {
  max-width:400px;
} */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif; 
  line-height: 1.125em;
}

button.react-calendar__navigation__label {
  color:white;
  background-color: orange;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px 10px;
}

button.react-calendar__tile {
background-color: rgb(195, 235, 253);
border: 1px solid grey;
border-radius: 2px;
padding: 5px 5px;
/* margin-bottom: 2px;
margin-left: 2px; */
}

/* #root .App div button {
  margin-top: 5px;
} */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
